name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: dotnet restore

      - name: Lint (build with analyzers)
        run: dotnet build --no-restore -warnaserror

      - name: Run Tests
        run: dotnet test --no-build --verbosity normal